
.containerApp{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: #1a3a3d77;
  margin: 0px;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.editor{
  height: 30vh;
  width: 70vw;
  align-self: center;
}

.preview{
  height: auto;
  width: 90vw;
  align-self: center;
}
